<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>location</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs location access to provide safety features like geofencing and live location tracking for child safety.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs location access to provide safety features like geofencing and live location tracking for child safety.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs location access to provide safety features like geofencing and live location tracking for child safety.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Located App Invitation</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>located</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
